.App{
  width:30rem;
  height:30rem;
  border:2px solid black;
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  background-image:linear-gradient(#9AC4E3,#EAEBD8,#BEE0D2 );
  border-radius: 10px;
}
.logo{
  width:10rem;
  height:5rem;
  
}
img{
  width:20%;
  border:1px solid yellowgreen;
}
p{
  border:1px solid cornflowerblue;
  width:80%;
}